name: Deploy Web to Surge

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Surge
        run: npm install -g surge

      - name: Deploy to Surge
        run: surge ./ omniscient-swing.surge.sh --token ${{ secrets.SURGE_TOKEN }}

